.liststyle {
  display: flex;
  padding: 20px;
  width: 330px;
  border: 2px solid black;
  border-radius: 10px;
  background-color: rgba(155, 228, 255, 0.5);
}
.information {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  margin-right: auto;
}
.btn {
  height: 40px;
  width: 80px;
  margin: auto 0;
  background-color: gainsboro;
  cursor: pointer;
  border-radius: 13px;
  transition: 350ms;
}
.btn:is(:hover, :focus) {
  background-color: rgba(255, 104, 70, 0.5);
}
.name {
  display: flex;
  gap: 10px;
}
